.header-wrapper {
	background-color: #000000;
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #2b2b2b;
}

@media (max-width: 700px) {
	.header-wrapper {
		position: sticky;
		top: 0px;
		z-index: 10;
	}
}
